USE [Traveler]
GO
/****** Object:  UserDefinedFunction [dbo].[GetOrderID]    Script Date: 2018/5/24 上午 01:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE FUNCTION [dbo].[GetOrderID]()
RETURNS nvarchar(20)
AS
BEGIN
  DECLARE @orderID nvarchar(20)
  DECLARE @DT nvarchar(20)
  SELECT @DT = convert(varchar(10),getdate(),112)
  SELECT @orderID= @DT + right('00' + ltrim(isnull(max(cast(right(orderID, 3) as int)),0)+1), 5) from airTickets where left(orderID, 8) = @DT
  RETURN @orderID
END

GO
/****** Object:  Table [dbo].[airTickets]    Script Date: 2018/5/24 上午 01:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[airTickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [varchar](255) NULL,
	[memberId] [varchar](50) NULL,
	[depT] [varchar](30) NULL,
	[depDate] [varchar](30) NULL,
	[depC] [varchar](30) NULL,
	[arrT] [varchar](30) NULL,
	[returnDate] [varchar](30) NULL,
	[arrC] [varchar](30) NULL,
	[totalP] [int] NULL,
	[airline] [varchar](30) NULL,
	[depNum] [varchar](30) NULL,
	[returnNum] [varchar](30) NULL,
	[bonus] [int] NULL,
	[person] [int] NULL,
	[price] [int] NULL,
	[returnTime] [varchar](255) NULL,
	[guestId] [int] NULL,
	[checkpay] [varchar](255) NULL,
	[returnArrTime] [varchar](255) NULL,
	[orderDay] [datetime2](7) NULL,
	[arrTnextDay] [varchar](255) NULL,
	[returnArrTnextDay] [varchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clickNum]    Script Date: 2018/5/24 上午 01:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clickNum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[arrival] [varchar](255) NULL,
	[click] [bigint] NOT NULL,
	[months] [varchar](255) NULL,
	[years] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[extraPirce]    Script Date: 2018/5/24 上午 01:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[extraPirce](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept] [varchar](255) NULL,
	[arrv] [varchar](255) NULL,
	[extraPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[guest]    Script Date: 2018/5/24 上午 01:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[guest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contactAddress] [varchar](255) NULL,
	[contactEmail] [varchar](255) NULL,
	[contactIdCard] [varchar](255) NULL,
	[contactName] [varchar](255) NULL,
	[contactPhone] [int] NULL,
	[guestOneBirth] [date] NULL,
	[guestOneFirstName] [varchar](255) NULL,
	[guestOneGender] [varchar](255) NULL,
	[guestOneLastName] [varchar](255) NULL,
	[guestOneName] [varchar](255) NULL,
	[guestOnepassportNum] [varchar](255) NULL,
	[guestTwoBirth] [date] NULL,
	[guestTwoFirstName] [varchar](255) NULL,
	[guestTwoGender] [varchar](255) NULL,
	[guestTwoLastName] [varchar](255) NULL,
	[guestTwoName] [varchar](255) NULL,
	[guestTwopassportNum] [varchar](255) NULL,
 CONSTRAINT [PK__guest__3213E83F40652E97] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[airTickets] ON 

INSERT [dbo].[airTickets] ([ID], [orderID], [memberId], [depT], [depDate], [depC], [arrT], [returnDate], [arrC], [totalP], [airline], [depNum], [returnNum], [bonus], [person], [price], [returnTime], [guestId], [checkpay], [returnArrTime], [orderDay], [arrTnextDay], [returnArrTnextDay]) VALUES (1, NULL, NULL, N'514164445', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[airTickets] ([ID], [orderID], [memberId], [depT], [depDate], [depC], [arrT], [returnDate], [arrC], [totalP], [airline], [depNum], [returnNum], [bonus], [person], [price], [returnTime], [guestId], [checkpay], [returnArrTime], [orderDay], [arrTnextDay], [returnArrTnextDay]) VALUES (2, N'20180502001', NULL, N'5144164445', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[airTickets] ([ID], [orderID], [memberId], [depT], [depDate], [depC], [arrT], [returnDate], [arrC], [totalP], [airline], [depNum], [returnNum], [bonus], [person], [price], [returnTime], [guestId], [checkpay], [returnArrTime], [orderDay], [arrTnextDay], [returnArrTnextDay]) VALUES (3, N'20180502002', N'0', N'18:25', NULL, N'台北松山(TSA)', N'22:05', NULL, N'東京羽田(HND)', 13916, N'中華航空', N'333', N'666', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[airTickets] OFF
SET IDENTITY_INSERT [dbo].[clickNum] ON 

INSERT [dbo].[clickNum] ([id], [arrival], [click], [months], [years]) VALUES (1, N'allCity', 9, N'-', N'-')
INSERT [dbo].[clickNum] ([id], [arrival], [click], [months], [years]) VALUES (2, N'HND', 1, N'05', N'2018')
INSERT [dbo].[clickNum] ([id], [arrival], [click], [months], [years]) VALUES (3, N'KIX', 2, N'05', N'2018')
SET IDENTITY_INSERT [dbo].[clickNum] OFF
SET IDENTITY_INSERT [dbo].[extraPirce] ON 

INSERT [dbo].[extraPirce] ([id], [dept], [arrv], [extraPrice]) VALUES (1, N'TPE', N'HND', 500)
INSERT [dbo].[extraPirce] ([id], [dept], [arrv], [extraPrice]) VALUES (2, N'TPE', N'NRT', 300)
INSERT [dbo].[extraPirce] ([id], [dept], [arrv], [extraPrice]) VALUES (3, N'TSA', N'HND', 500)
SET IDENTITY_INSERT [dbo].[extraPirce] OFF
SET IDENTITY_INSERT [dbo].[guest] ON 

INSERT [dbo].[guest] ([id], [contactAddress], [contactEmail], [contactIdCard], [contactName], [contactPhone], [guestOneBirth], [guestOneFirstName], [guestOneGender], [guestOneLastName], [guestOneName], [guestOnepassportNum], [guestTwoBirth], [guestTwoFirstName], [guestTwoGender], [guestTwoLastName], [guestTwoName], [guestTwopassportNum]) VALUES (1, N'台北市大安區信義路一號', N'SD@GD.COM', N'a123456789', N'張三豐', 912345678, CAST(0x7F070B00 AS Date), N'DFSD', N'male', N'WWG', N'白雲', N'ASD124156', CAST(0x2B090B00 AS Date), N'DSF', N'female', N'sDSDF', N'藍天', N'SSDF545AS')
INSERT [dbo].[guest] ([id], [contactAddress], [contactEmail], [contactIdCard], [contactName], [contactPhone], [guestOneBirth], [guestOneFirstName], [guestOneGender], [guestOneLastName], [guestOneName], [guestOnepassportNum], [guestTwoBirth], [guestTwoFirstName], [guestTwoGender], [guestTwoLastName], [guestTwoName], [guestTwopassportNum]) VALUES (2, N'台北市大安區信義路123號', N'sadas@gmail.com', N'A12356858', N'張量', 66698350, CAST(0xAC5A0800 AS Date), N'ikjopi', N'male', N'dsfo', N'張繳', N'a;skjdp', CAST(0x58E90800 AS Date), N'ijo', N'female', N'sdk', N'張坤', N'asd5465')
INSERT [dbo].[guest] ([id], [contactAddress], [contactEmail], [contactIdCard], [contactName], [contactPhone], [guestOneBirth], [guestOneFirstName], [guestOneGender], [guestOneLastName], [guestOneName], [guestOnepassportNum], [guestTwoBirth], [guestTwoFirstName], [guestTwoGender], [guestTwoLastName], [guestTwoName], [guestTwopassportNum]) VALUES (3, N'台北市大安區信義路1號', N'dsd@gmail.com', N'A123456789', N'王重陽', 972123456, CAST(0x3F160B00 AS Date), N'sfddsf', N'male', N'sdsa', N'林立', N'sdf', CAST(0x08240B00 AS Date), N'ijli', N'female', N'dzfsdf', N'王八', N'i/asdf')
SET IDENTITY_INSERT [dbo].[guest] OFF
ALTER TABLE [dbo].[airTickets] ADD  CONSTRAINT [DF_airTickets_orderID]  DEFAULT ([dbo].[GetOrderID]()) FOR [orderID]
GO
ALTER TABLE [dbo].[airTickets]  WITH CHECK ADD  CONSTRAINT [FKbpxc1avcfuuvf1uuygwwq146w] FOREIGN KEY([guestId])
REFERENCES [dbo].[guest] ([id])
GO
ALTER TABLE [dbo].[airTickets] CHECK CONSTRAINT [FKbpxc1avcfuuvf1uuygwwq146w]
GO
