USE [Traveler]
GO
ALTER TABLE [dbo].[airTickets] DROP CONSTRAINT [FKbpxc1avcfuuvf1uuygwwq146w]
GO
ALTER TABLE [dbo].[airTickets] DROP CONSTRAINT [FK_airTickets_guest]
GO
ALTER TABLE [dbo].[airTickets] DROP CONSTRAINT [DF_airTickets_orderID]
GO
/****** Object:  Table [dbo].[guest]    Script Date: 2018/5/26 下午 04:58:14 ******/
DROP TABLE [dbo].[guest]
GO
/****** Object:  Table [dbo].[extraPrice]    Script Date: 2018/5/26 下午 04:58:14 ******/
DROP TABLE [dbo].[extraPrice]
GO
/****** Object:  Table [dbo].[clickNum]    Script Date: 2018/5/26 下午 04:58:14 ******/
DROP TABLE [dbo].[clickNum]
GO
/****** Object:  Table [dbo].[airTickets]    Script Date: 2018/5/26 下午 04:58:14 ******/
DROP TABLE [dbo].[airTickets]
GO
/****** Object:  UserDefinedFunction [dbo].[GetOrderID]    Script Date: 2018/5/26 下午 04:58:14 ******/
DROP FUNCTION [dbo].[GetOrderID]
GO
/****** Object:  UserDefinedFunction [dbo].[GetOrderID]    Script Date: 2018/5/26 下午 04:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[GetOrderID]()
RETURNS nvarchar(20)
AS
BEGIN
  DECLARE @orderID nvarchar(20)
  DECLARE @DT nvarchar(20)
  SELECT @DT = convert(varchar(10),getdate(),112)
  SELECT @orderID= @DT + right('00' + ltrim(isnull(max(cast(right(orderID, 3) as int)),0)+1), 5) from airTickets where left(orderID, 8) = @DT
  RETURN @orderID
END
GO
/****** Object:  Table [dbo].[airTickets]    Script Date: 2018/5/26 下午 04:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airTickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [nvarchar](20) NULL,
	[memberId] [varchar](30) NULL,
	[depT] [varchar](30) NULL,
	[depDate] [varchar](30) NULL,
	[depC] [varchar](30) NULL,
	[arrTnextDay] [varchar](30) NULL,
	[arrT] [varchar](30) NULL,
	[returnDate] [varchar](30) NULL,
	[arrC] [varchar](30) NULL,
	[returnTime] [varchar](30) NULL,
	[returnArrTnextDay] [varchar](30) NULL,
	[returnArrTime] [varchar](50) NULL,
	[price] [int] NULL,
	[airline] [varchar](30) NULL,
	[depNum] [varchar](30) NULL,
	[returnNum] [varchar](30) NULL,
	[person] [int] NULL,
	[bonus] [int] NULL,
	[guestId] [int] NULL,
	[checkpay] [varchar](30) NULL,
	[orderDay] [datetime2](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clickNum]    Script Date: 2018/5/26 下午 04:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clickNum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[arrival] [varchar](255) NULL,
	[click] [bigint] NOT NULL,
	[months] [varchar](255) NULL,
	[years] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[extraPrice]    Script Date: 2018/5/26 下午 04:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extraPrice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dept] [varchar](20) NULL,
	[arrv] [varchar](20) NULL,
	[deptChinese] [varchar](20) NULL,
	[arrvChinese] [varchar](20) NULL,
	[airLineCode] [varchar](20) NULL,
	[airLine] [varchar](20) NULL,
	[extraPrice] [int] NULL,
 CONSTRAINT [PK__extraPir__3213E83FD497C4AD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guest]    Script Date: 2018/5/26 下午 04:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contactAddress] [varchar](255) NULL,
	[contactEmail] [varchar](255) NULL,
	[contactIdCard] [varchar](255) NULL,
	[contactName] [varchar](255) NULL,
	[contactPhone] [int] NULL,
	[guestOneBirth] [date] NULL,
	[guestOneFirstName] [varchar](255) NULL,
	[guestOneGender] [varchar](255) NULL,
	[guestOneLastName] [varchar](255) NULL,
	[guestOneName] [varchar](255) NULL,
	[guestOnepassportNum] [varchar](255) NULL,
	[guestTwoBirth] [date] NULL,
	[guestTwoFirstName] [varchar](255) NULL,
	[guestTwoGender] [varchar](255) NULL,
	[guestTwoLastName] [varchar](255) NULL,
	[guestTwoName] [varchar](255) NULL,
	[guestTwopassportNum] [varchar](255) NULL,
 CONSTRAINT [PK__guest__3213E83F20C3B0E6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[airTickets] ON 

INSERT [dbo].[airTickets] ([ID], [orderID], [memberId], [depT], [depDate], [depC], [arrTnextDay], [arrT], [returnDate], [arrC], [returnTime], [returnArrTnextDay], [returnArrTime], [price], [airline], [depNum], [returnNum], [person], [bonus], [guestId], [checkpay], [orderDay]) VALUES (4239, N'201805220016', N'a123456789', N'13:00', N'2018-05-23', N'台北桃園(TPE)', NULL, N'17:20', N'2018-05-26', N'東京成田(NRT)', N'10:00', NULL, N'12:45', 13173, N'國泰航空', N'773', N'333', 1, 3000, 3154, N'已付款', CAST(N'2018-05-22T15:57:55.9820000' AS DateTime2))
INSERT [dbo].[airTickets] ([ID], [orderID], [memberId], [depT], [depDate], [depC], [arrTnextDay], [arrT], [returnDate], [arrC], [returnTime], [returnArrTnextDay], [returnArrTime], [price], [airline], [depNum], [returnNum], [person], [bonus], [guestId], [checkpay], [orderDay]) VALUES (4247, N'201805220024', N'a123456789', N'13:00', N'2018-05-23', N'台北桃園(TPE)', NULL, N'17:20', N'2018-05-26', N'東京成田(NRT)', N'15:40', NULL, N'18:25', 13173, N'國泰航空', N'773', N'773', 1, 3000, 3155, N'已付款', CAST(N'2018-05-22T16:49:22.7680000' AS DateTime2))
INSERT [dbo].[airTickets] ([ID], [orderID], [memberId], [depT], [depDate], [depC], [arrTnextDay], [arrT], [returnDate], [arrC], [returnTime], [returnArrTnextDay], [returnArrTime], [price], [airline], [depNum], [returnNum], [person], [bonus], [guestId], [checkpay], [orderDay]) VALUES (4248, N'201805220025', N'a123456789', N'16:20', N'2018-05-23', N'台北桃園(TPE)', NULL, N'20:35', N'2018-05-26', N'東京成田(NRT)', N'09:25', NULL, N'12:10', 27714, N'中華航空', N'333', N'333', 2, 3000, 3156, N'已付款', CAST(N'2018-05-22T20:25:25.4150000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[airTickets] OFF
SET IDENTITY_INSERT [dbo].[clickNum] ON 

INSERT [dbo].[clickNum] ([id], [arrival], [click], [months], [years]) VALUES (1, N'allCity', 113, N'-', N'-')
INSERT [dbo].[clickNum] ([id], [arrival], [click], [months], [years]) VALUES (2, N'HND', 30, N'05', N'2018')
INSERT [dbo].[clickNum] ([id], [arrival], [click], [months], [years]) VALUES (3, N'KIX', 26, N'05', N'2018')
SET IDENTITY_INSERT [dbo].[clickNum] OFF
SET IDENTITY_INSERT [dbo].[extraPrice] ON 

INSERT [dbo].[extraPrice] ([id], [dept], [arrv], [deptChinese], [arrvChinese], [airLineCode], [airLine], [extraPrice]) VALUES (65, N'TPE', N'NRT', N'台北桃園', N'東京成田', N'CI', N'中華航空', 20000)
INSERT [dbo].[extraPrice] ([id], [dept], [arrv], [deptChinese], [arrvChinese], [airLineCode], [airLine], [extraPrice]) VALUES (66, N'TPE', N'NRT', N'台北桃園', N'東京成田', N'JL', N'日本航空', 10000)
INSERT [dbo].[extraPrice] ([id], [dept], [arrv], [deptChinese], [arrvChinese], [airLineCode], [airLine], [extraPrice]) VALUES (67, N'TPE', N'NRT', N'台北桃園', N'東京成田', N'BR', N'長榮航空', 500)
SET IDENTITY_INSERT [dbo].[extraPrice] OFF
SET IDENTITY_INSERT [dbo].[guest] ON 

INSERT [dbo].[guest] ([id], [contactAddress], [contactEmail], [contactIdCard], [contactName], [contactPhone], [guestOneBirth], [guestOneFirstName], [guestOneGender], [guestOneLastName], [guestOneName], [guestOnepassportNum], [guestTwoBirth], [guestTwoFirstName], [guestTwoGender], [guestTwoLastName], [guestTwoName], [guestTwopassportNum]) VALUES (1, N'', N'', N'', N'', NULL, NULL, N'', NULL, N'', N'', N'', NULL, N'', NULL, N'', N'', N'')
INSERT [dbo].[guest] ([id], [contactAddress], [contactEmail], [contactIdCard], [contactName], [contactPhone], [guestOneBirth], [guestOneFirstName], [guestOneGender], [guestOneLastName], [guestOneName], [guestOnepassportNum], [guestTwoBirth], [guestTwoFirstName], [guestTwoGender], [guestTwoLastName], [guestTwoName], [guestTwopassportNum]) VALUES (2, N'台北市大安區123號', N'sd@gmail.com', N'A123456789', N'豆導', 999999999, CAST(N'1990-02-05' AS Date), N'lods', N'male', N'kdjf', N'林政', N'df5464', CAST(N'1990-05-06' AS Date), N'lkxdl', N'female', N'dkslfj', N'張正', N'54dsf4')
INSERT [dbo].[guest] ([id], [contactAddress], [contactEmail], [contactIdCard], [contactName], [contactPhone], [guestOneBirth], [guestOneFirstName], [guestOneGender], [guestOneLastName], [guestOneName], [guestOnepassportNum], [guestTwoBirth], [guestTwoFirstName], [guestTwoGender], [guestTwoLastName], [guestTwoName], [guestTwopassportNum]) VALUES (3, N'', N'', N'', N'asd', NULL, NULL, N'', NULL, N'', N'', N'', NULL, N'', NULL, N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[guest] OFF
ALTER TABLE [dbo].[airTickets] ADD  CONSTRAINT [DF_airTickets_orderID]  DEFAULT ([dbo].[GetOrderID]()) FOR [orderID]
GO
ALTER TABLE [dbo].[airTickets]  WITH CHECK ADD  CONSTRAINT [FK_airTickets_guest] FOREIGN KEY([guestId])
REFERENCES [dbo].[guest] ([id])
GO
ALTER TABLE [dbo].[airTickets] CHECK CONSTRAINT [FK_airTickets_guest]
GO
ALTER TABLE [dbo].[airTickets]  WITH CHECK ADD  CONSTRAINT [FKbpxc1avcfuuvf1uuygwwq146w] FOREIGN KEY([guestId])
REFERENCES [dbo].[guest] ([id])
GO
ALTER TABLE [dbo].[airTickets] CHECK CONSTRAINT [FKbpxc1avcfuuvf1uuygwwq146w]
GO
